* {
  box-sizing: border-box;
}

div,
a,
main,
header,
footer,
nav,
section {
  display: flex;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
img,
ins,
kbd,
q,
s,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  color: inherit;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: color ease-out 300ms;
}

p a:hover {
  color: #7f94b0;
}

body {
  background-color: #f6f6f6;
  color: #444;
  font-family: 'Proxima Nova', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 0.07em;
}

section {
  margin: 4rem 0;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 4rem;
}

p {
  margin-bottom: 1em;
}
